In [ ]:
# x =[]
# while(1):
#   x.append(1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from __future__ import unicode_literals
!pip install hazm
from hazm import *
!pip install stopwords_guilannlp
from stopwords_guilannlp import stopwords_output
import math
import heapq
from collections import Counter
import os
import sys
import csv
import numpy as np
import pandas as pd
from scipy import spatial
from sklearn.feature_extraction.text import TfidfVectorizer
import operator

Collecting hazm
  Downloading https://files.pythonhosted.org/packages/22/13/5a7074bc11d20dbbb46239349ac3f85f7edc148b4cf68e9b8c2f8263830c/hazm-0.7.0-py3-none-any.whl (316kB)
     |████████████████████████████████| 317kB 8.1MB/s
Collecting libwapiti>=0.2.1; platform_system != "Windows"
  Downloading https://files.pythonhosted.org/packages/bc/0f/1c9b49bb49821b5856a64ea6fac8d96a619b9f291d1f06999ea98a32c89c/libwapiti-0.2.1.tar.gz (233kB)
     |████████████████████████████████| 235kB 15.6MB/s
Collecting nltk==3.3
  Downloading https://files.pythonhosted.org/packages/50/09/3b1755d528ad9156ee7243d52aa5cd2b809ef053a0f31b53d92853dd653a/nltk-3.3.0.zip (1.4MB)
     |████████████████████████████████| 1.4MB 18.1MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from libwapiti>=0.2.1; platform_system != "Windows"->hazm) (1.15.0)
Building wheels for collected packages: libwapiti, nltk
  Building wheel for libwapiti (setup.py) ... done
  Created wheel for libwapiti: filename=libwapiti-0.2.1-cp36-cp36m-linux_x86_64.whl size=154453 sha256=8044948bb1aa154b62d1b231c446b1f19987cc77bc36cb83a8ca703587ce1aa6
  Stored in directory: /root/.cache/pip/wheels/66/15/54/4510dce8bb958b1cdd2c47425cbd1e1eecc0480ac9bb1fb9ab
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.3-cp36-none-any.whl size=1394470 sha256=e776500a3cd64361e77dbd305878225fd520e20f269b09417a366dfe5e582366
  Stored in directory: /root/.cache/pip/wheels/d1/ab/40/3bceea46922767e42986aef7606a600538ca80de6062dc266c
Successfully built libwapiti nltk
Installing collected packages: libwapiti, nltk, hazm
  Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed hazm-0.7.0 libwapiti-0.2.1 nltk-3.3
Collecting stopwords_guilannlp
  Downloading https://files.pythonhosted.org/packages/44/bc/a01c003b59a91187e89d11e73e8bb2834bb9ae6b36fe576a4b617c90bd23/stopwords_guilannlp-13.2019.3.5-py3-none-any.whl
Installing collected packages: stopwords-guilannlp
Successfully installed stopwords-guilannlp-13.2019.3.5

In [ ]:
url = 'drive/My Drive/train.csv'
df = pd.read_csv(url, engine='python',encoding='utf-8', error_bad_lines=False)
df.head()

   Unnamed: 0  ...                  Category
0           0  ...       Science and Culture
1           1  ...                     Sport
2           2  ...                   Economy
3           3  ...  Miscellaneous.World News
4           4  ...                     Sport

[5 rows x 3 columns]

In [ ]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

                                                Text                  Category
0  \nخبرنامه دانشگاه علم و صنعت ايران \nشماره ياز...       Science and Culture
1  \nتا پايان سال 1378 دهها زمين فوتبال و \nسالن ...                     Sport
2  \nانجمن توليدكنندگان تجهيزات صنعت نفت تشكيل شد...                   Economy
3  \nكرتين براي سومين بار نخست وزير كانادا \nشد \...  Miscellaneous.World News
4  \nخداحافظ رفقا \nنمايندگان اروپاي شرقي در جام ...                     Sport

In [ ]:
url = 'drive/My Drive/test.csv'
dftest = pd.read_csv(url, engine='python',encoding='utf-8', error_bad_lines=False)

dftest.head()

   Id                                               Text
0   0  \nهفت اقليم \nآلودگي هوا پكن را تهديد مي كند \...
1   1  \nگل و گياه زعفران زينتي \nنام علمي: Crocus ba...
2   2  \nيادداشت \nقانون بودجه و صنايع كوچك \nدر شمار...
3   3  \nدر سالروز ميلاد حضرت مهدي \nهمايش ادبي دانش ...
4   4  \nاز IRA تا فارك \n بوگوتا، پايتخت پرهرج ومرج ...

In [ ]:
dftest.drop(['Id'], axis=1, inplace=True)
dftest.head()

                                                Text
0  \nهفت اقليم \nآلودگي هوا پكن را تهديد مي كند \...
1  \nگل و گياه زعفران زينتي \nنام علمي: Crocus ba...
2  \nيادداشت \nقانون بودجه و صنايع كوچك \nدر شمار...
3  \nدر سالروز ميلاد حضرت مهدي \nهمايش ادبي دانش ...
4  \nاز IRA تا فارك \n بوگوتا، پايتخت پرهرج ومرج ...

In [ ]:
stop_set = stopwords_output("Persian", "set")

In [ ]:
stemmer = Stemmer()
# normalizer = Normalizer()
# lemmatizer = Lemmatizer()

In [ ]:
for i in range(len(df)):
  # df.to_numpy()[i][0] = normalizer.normalize(df.to_numpy()[i][0])
  df.to_numpy()[i][0] = word_tokenize(df.to_numpy()[i][0])
  df.to_numpy()[i][0] = [word for word in df.to_numpy()[i][0] if not word in stop_set]
  df.to_numpy()[i][0] = [stemmer.stem(word) for word in df.to_numpy()[i][0]]
  # df.to_numpy()[i][0] = [lemmatizer.lemmatize(word) for word in df.to_numpy()[i][0]]

In [ ]:
for i in range(len(dftest)):
  # dftest.to_numpy()[i][0] = normalizer.normalize(dftest.to_numpy()[i][0])
  dftest.to_numpy()[i][0] = word_tokenize(dftest.to_numpy()[i][0])
  dftest.to_numpy()[i][0] = [word for word in dftest.to_numpy()[i][0] if not word in stop_set]
  dftest.to_numpy()[i][0] = [stemmer.stem(word) for word in dftest.to_numpy()[i][0]]
  # dftest.to_numpy()[i][0] = [lemmatizer.lemmatize(word) for word in dftest.to_numpy()[i][0]]

In [ ]:
data = []
for i in df.to_numpy():
  data.append(i[0])
for i in dftest.to_numpy():
  data.append(i[0])

In [ ]:
tfidf_main = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False)
result = tfidf_main.fit_transform(data)

In [ ]:
trains = result[0:len(df.to_numpy())]
test = result[len(df.to_numpy()):]

In [ ]:
# Another method for the above job
# It is explained in report with more detail
# traindata = []
# for i in df.to_numpy():
#   traindata.append(i[0])
# testdata = []
# for i in dftest.to_numpy():
#   testdata.append(i[0])

# tfidf = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False)
# result_train = tfidf.fit_transform(traindata)
# result_test = tfidf.transform(testdata)

In [ ]:
Train_Y = []
for i in df.to_numpy():
  Train_Y.append(i[1])

In [ ]:
X_train = trains
X_test = test
y_train = Train_Y

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

logreg = Pipeline([('clf', LogisticRegression(n_jobs=1, C=1e5)),])
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

In [ ]:
predictions = y_pred

In [ ]:
myfile = open("newresult.csv", "w")
writer = csv.writer(myfile)
writer.writerow(["Id", "Category"])

for i in range(len(predictions)):
  writer.writerow([i, predictions[i]])

In [ ]:
myfile.close()

In [ ]:
url = 'newresult.csv'
dfresult = pd.read_csv(url, engine='python',encoding='utf-8', error_bad_lines=False)

dfresult.head()

   Id             Category
0   0  Miscellaneous.Urban
1   1        Miscellaneous
2   2              Economy
3   3  Science and Culture
4   4             Politics

In [ ]:
dfresult.tail()

          Id                  Category
16673  16673       Science and Culture
16674  16674                     Sport
16675  16675  Miscellaneous.World News
16676  16676             Miscellaneous
16677  16677                   Economy